@use "@angular/material" as mat;
@use "highlight.js/styles/github.css";
@use "../projects/datetime-picker/src/lib/_datepicker-theme.scss" as
  datetime-picker;
@include mat.core();

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

pre {
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 155, 119, 0.03);
  border-radius: 5px;
  display: block;
  overflow-x: auto;
  padding: 20px;
  white-space: pre-wrap;
  font-family: "Roboto Mono", monospace;

  code {
    font-size: 100%;
  }
}

$ngxMat-primary: mat.define-palette(mat.$indigo-palette, 500);
$ngxMat-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$ngxMat-theme: mat.define-light-theme(
  (
    color: (
      primary: $ngxMat-primary,
      accent: $ngxMat-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($ngxMat-theme);
@include datetime-picker.color($ngxMat-theme);
